{% extends 'pages/base.html' %}
{% block content %}
{% load static %}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Center of Ideas<br></h1>
      <h2>To articulate the aspirations and interests of Somali communities and diaspora</h2>
      <a href="courses.html" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>About Us</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'assets/img/geeskaafbeelding.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <p class="font-italic">
              GEESKA| The Horn Centre of Ideas is an independent, non-partisan and non-profit organization. GEESKA is a centre of research and policy advocacy based organization. It was founded in 2019 by diverse professional backgrounds dedicated to the promotion of peace, order, good governance and human development in Somalia. 
              The centre aims to generate new knowledge, work co-construct knowledge, partnership and dynamic environment, and institutional capacity to fit for purpose. 
            </p>
            <div class="tekst">
              <p class="font-italic">
                The centre provides the following:
              </p>
            </div>
            <ul>
              <li><i class="icofont-check-circled"></i> Research</li>
              <li><i class="icofont-check-circled"></i> Education and training</li>
              <li><i class="icofont-check-circled"></i> Advocacy support to enhance peace, human development and good governance initiatives 
                        at all levels in the Horn of Africa and in particular Somalia</li>
              <li><i class="icofont-check-circled"></i> Policy recommendations for decision and policy makers</li>
            </ul>
            <p>
              Geeska is a private, not-for- profit research and policy analysis think tank whose primary mission is to provide quality research and development services 
              about Somalis in order to contribute to the attainment of the development priorities. 
            </p>
            <a href="about.html" class="learn-more-btn">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1232</span>
            <p>Members</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">64</span>
            <p>Contributors</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">42</span>
            <p>Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">15</span>
            <p>Researchers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Key Strategic Focus Areas</h3>
              <p>
                The Centre has engaged in activities that helped initiate dialogue among the Somali people in The Netherlands. 
                The Centre is committed to work with different partners to promote peace and human development through grassroots initiatives. 
                The Centre provides training and capacity building programmes on specific topics for a wide variety of groups both local and regional organizations.  
                The Centre conducts high quality research on matters related to peace, social justice and good governance. In close collaboration with higher education institutions
                in The Netherlands, the Centre hosts conferences, round table discussion and debates and symposia in support of different subjects in the broader area of the Centre’s thematic interest. 
              </p>
              <div class="text-center">
                <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Social Development</h4>
                    <p>Poverty is a major factor hindering citizen participation in all the dimensions of social development.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Good Governance</h4>
                    <p>Somalia is an economy without state. There are structural issues related to the political economy of governance.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Women’s Empowerment</h4>
                    <p>Geeska believes that women are key to development and to poverty reduction in Somalia.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

  
    <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Events</h2>
          <p>Upcoming Events</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="{% static 'assets/img/event1.jpg' %}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Yearly Conference</h4>
                </div>

                <h3><a href="course-details.html">Yearly Conference</a></h3>
                <p>This weekend we have the yearly Geeska Conference</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;50
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;65
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <img src="{% static 'assets/img/launch.jpg' %}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Social Development Policy</h4>
                </div>

                <h3><a href="course-details.html">Social Development Policy</a></h3>
                <p>We have a visiting professor of university Maastricht who will elaborate the current and future Economic state of Somalia</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;35
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;42
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <img src="{% static 'assets/img/happysomalis.jpg' %}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Improving Education</h4>
                </div>

                <h3><a href="course-details.html">Improving Education</a></h3>
                <p>How can e improve education in Somalia and nearby countries? Dont miss the answer and join this upcoming event</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;20
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;85
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>
    </section><!-- End Popular Courses Section -->

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Our Researchers</h2>
          <p>Our Professional Researchers</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{% static 'assets/img/trainers/researcher1.jpg' %}" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Shoki Hayir</h4>
                <span>Professor Maastricht University</span>
                <p>
                  Shoki Hayir is currently a teacher based at the Dept. of Political Science, Maastricht University. Prior to joining the Faculty of Arts and Social Sciences (FASoS), Shoki was a part-time lecturer 
                  at the Faculty of International Business and Communication, Dept. of European Studies, Zuyd University of Applied Sciences.
                </p>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/shoki-hayir-77318594/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->

</body>

</html>

{% endblock %}